<ion-content>
  <ion-slides #slider loop="true" pager="false" [options]="slideOptions" >
    <ion-slide class="slide">
      <button class="bg_mybtn" (click)="gohome()">Let's Start</button>
      <img src="../../../assets/genere/rock.jpg" alt="Slide iamge" class="slideimg"/>
    </ion-slide>
    <ion-slide class="slide">
      <button class="bg_mybtn" (click)="gohome()">Let's Start</button>
      <img src="../../../assets/img/events.jpg" alt="Slide iamge" class="slideimg"/>
    </ion-slide>
    <ion-slide class="slide">
      <button class="bg_mybtn" (click)="gohome()">Let's Start</button>
      <img src="../../../assets/genere/country.jpg" alt="Slide iamge" class="slideimg"/>
    </ion-slide>
    <ion-slide class="slide">
      <button class="bg_mybtn" (click)="gohome()">Let's Start</button>
      <img src="../../../assets/genere/classic.jpg" alt="Slide iamge" class="slideimg"/>
    </ion-slide>
    <ion-slide class="slide">
      <button class="bg_mybtn" (click)="gohome()">Let's Start</button>
      <img src="../../../assets/genere/jazz.jpg" alt="Slide iamge" class="slideimg"/>
    </ion-slide>
    <ion-slide class="slide">
      <button class="bg_mybtn" (click)="gohome()">Let's Start</button>
      <img src="../../../assets/genere/wave.jpg" alt="Slide iamge" class="slideimg"/>
    </ion-slide>
    <ion-slide class="slide">
      <button class="bg_mybtn" (click)="gohome()">Let's Start</button>
      <img src="../../../assets/genere/pop.jpg" alt="Slide iamge" class="slideimg"/>
    </ion-slide>
    <ion-slide class="slide">
      <button class="bg_mybtn" (click)="gohome()">Let's Start</button>
      <img src="../../../assets/img/titel.jpg" style="background:#000930;" alt="Slide iamge" class="slideimg"/>
    </ion-slide>
    <ion-slide class="slide">
      <button class="bg_mybtn" (click)="gohome()">Let's Start</button>
      <img src="../../../assets/genere/all-genres.jpg" alt="Slide iamge" class="slideimg"/>
    </ion-slide>
  </ion-slides>
</ion-content>
